<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="style.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@latest"></script>
  </head>
  <body>
    <div id="app">
      <form>
        <input
          type="text"
          placeholder="enter your username"
          v-model="username"
          :class="username_is_error"
        />
        <br />
        <input
          type="password"
          placeholder="enter your password"
          v-model="password"
          :class="password_is_error"
        />
        <br />
        <button type="submit" @:click.prevent="submit">Login</button>
      </form>
    </div>
    <script>
      const app = {
        data() {
          return {
            username: "",
            password: "",
            username_is_error: "",
            password_is_error: "",
          };
        },
        methods: {
          submit() {
            this.password_is_error = this.username_is_error = "";
            //避免页面同步刷新
            if (this.username.length < 3 || this.password.length < 3) {
              if (this.username.length < 3) {
                this.username_is_error = "input-error";
              }
              if (this.password.length < 3) {
                this.password_is_error = "input-error";
              }
              alert("The input length smaller than 3");
              return;
            }
            alert(
              `Your input is username: ${this.username}password: ${this.password}`
            );
          },
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
